.card {
    background-color: transparent;
    color: #D1D5DB;
    border-radius: 1vw;
    transition: background-color 0.3s ease-in-out;
}

.card:hover {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
}

.admin-card {
    background-color: rgba(255, 255, 255, 0.2);
    color: #D1D5DB;
    border-radius: 0.5dvw;
    transition: background-color 0.3s ease-in-out;
}

.admin-card:hover {
    background-color: rgba(0, 255, 255, 0.2);
    backdrop-filter: blur(10px);
}

.skill-card {
    background-color: rgba(255, 255, 255, 0.1);
    color: #D1D5DB;
    border-radius: 0.5dvw;
    transition: background-color 0.3s ease-in-out;
}

.skill-card:hover {
    background-color: rgba(0, 255, 255, 0.2);
    backdrop-filter: blur(10px);
}