.experienceCard {
    background-color: transparent;
    color: #D1D5DB;
    border-radius: 1vw;
    transition: background-color 0.3s ease-in-out;
}

.experienceCard:hover {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
}